<table class="table table-striped">
    <thead>
        <th scope="col">#</th>
        <th scope="col">fact</th>
    </thead>
    <tbody>
        <tr >
            <th scope="row">1</th>
            <td>{{catFacts[0].text}}</td>
            
          </tr>
          <tr >
            <th scope="row">2</th>
            <td>{{catFacts[1].text}}</td>
            
          </tr>
          <tr >
            <th scope="row">3</th>
            <td>{{catFacts[2].text}}</td>
            
          </tr>
          <tr >
            <th scope="row">4</th>
            <td>{{catFacts[3].text}}</td>
            
          </tr>
          <tr >
            <th scope="row">5</th>
            <td>{{catFacts[4].text}}</td>
            
          </tr>
    </tbody>
  </table>
<hr>
<a href="/users">Click for users</a>

